<?xml version="1.0"?>
<!--
/**
 * Copyright © PART <info@part-online.de>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\ResourceModel\Eav\Attribute">
        <plugin name="save_advlaynav_option_params" type="Part\AdvLayNav\Model\Plugin\EavAttribute"/>
    </type>
    <type name="Magento\LayeredNavigation\Block\Navigation\FilterRenderer">
        <plugin name="advlaynav_layered_renderer" type="Part\AdvLayNav\Model\Plugin\FilterRenderer" sortOrder="1" />
    </type>
    <type name="Magento\Catalog\Helper\Product\Flat\Indexer">
        <arguments>
            <argument name="addFilterableAttrs" xsi:type="boolean">true</argument>
        </arguments>
    </type>
</config>
